MONGODB_URI=mongodb+srv://reelspro:U0vb0ANjATrXjmFP@cluster0.s1bjb.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

NEXTAUTH_SECRET=NEXTAUTH_SECRET=sDvWgRmev6FyXPwZmg2gP+O8IHvQ5raNM5dd2rGRANI=